<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  {{! TODO(jeff): Use production builds where appropriate. }}
  <script src="https://cdn.jsdelivr.net/combine/npm/react@16.13.0/umd/react.development.min.js,npm/react-dom@16.13.0/umd/react-dom.development.min.js,npm/jquery@3.4.1,npm/underscore@1.9.2,npm/backbone@1.4.0"></script>
</head>
<body>
  <div id="app"></div>
</body>
<script type="text/javascript">
  window.initialPayload = {
    todos: {{{inlineData todos}}}
  };
</script>
<script src="bundle.js"></script>
</html>
